/* HeaderProgressBar.module.css */
.stepWrapper {
    display: flex;
  flex-wrap: wrap;
}

.stepCircle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 3px solid #f3e7f3;
    transition: 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stepCount {
    font-size: 19px;
    color: #f3e7f3;
}
.stepsLabelContainer {
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.stepLabel {
    font-size: 19px;
    color: #4a154b;
}
.mainContainer {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    padding: 0 15px;
}
.stepContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    position: relative;
    :before {
        content: '';
        position: absolute;
        background: #f3e7f3;
        height: 4px;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
      :after {
        content: '';
        position: absolute;
        background: #4a154b;
        height: 4px;
        width: 33%;
        top: 50%;
        transition: 0.4s ease;
        transform: translateY(-50%);
        left: 0;
      }
}
.c-stepper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .c-stepper__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .c-stepper__item:before {
    --size: 3rem;
    content: "";
    position: relative;
    z-index: 1;
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    margin: 1rem auto 0;
  }